@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');

@layer base {
    body {
        @apply bg-white dark:bg-gray-900 text-gray-700 dark:text-gray-300 font-lato
    }

    section {
        @apply text-lg
    }

    h2 > a > span {
        @apply text-gray-800 dark:text-gray-200 hover:text-red-500
    }

    header > small {
        @apply text-gray-500 -mb-2
    }
    
    article h1, h2, h3, h4, h5, h6 {
        @apply font-extrabold font-montserrat mb-4 dark:text-gray-200
    }

    article h1 {
        @apply text-4xl font-black
    }

    article h2 {
        @apply text-4xl
    }

    article h3 {
        @apply text-3xl
    }

    article h4 {
        @apply text-2xl
    }

    section a {
        @apply text-red-500 dark:text-red-500 underline hover:no-underline
    }

    header > p {
        @apply text-gray-500 dark:text-gray-400
    }

    form > label {
        @apply font-bold mb-2
    }

    
}

@layer components {
    .header-btn {
        @apply mr-2 hover:text-red-500 px-1;
    }

    .input-field {
        @apply border m-1 p-1 rounded-md bg-white dark:bg-gray-800 text-gray-900 dark:text-white w-full
    }
}