@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');

@layer base {
    body {
        @apply bg-white dark:bg-gray-900 text-gray-700 dark:text-gray-300
    }

    .post-list-item {
        @apply mb-5 font-montserrat
    }

    .post-list-item > small {
        @apply text-gray-500 text-sm
    }

    .post-list-item h2 {
        @apply m-0
    }
    .post-list-item > h2 > a > span {
        @apply text-black dark:text-gray-200 hover:underline
    }

    .post-list-item > p {
        @apply text-sm text-gray-900 m-0 p-0
    }

    .post_date {
        @apply text-sm text-gray-500 mb-10
    }
    
    .blog-post h1, h2, h3, h4, h5, h6 {
        @apply mb-2 mt-4 dark:text-gray-200
    }

    .blog-post h1 {
        @apply text-4xl font-medium
    }

    .blog-post h2 { 
        @apply text-2xl font-medium
    }

    .blog-post h3 {
        @apply text-xl text-black
    }

    .blog-post h4 {
        @apply text-black
    }

    .blog-post a {
        @apply text-pink-800 underline hover:no-underline
    }

    .blog-post > section {
        @apply text-gray-900 dark:text-gray-400 text-base
    }

    .blog-post em {
        @apply text-gray-600
    }

    .blog-post > section > p {
        @apply mb-4
    }

    form > label {
        @apply font-bold mb-2
    }
}

@layer components {
    .header-btn {
        @apply m-1 hover:underline p-2 text-lg
    }

    .input-field {
        @apply border m-1 p-1 rounded-md bg-white dark:bg-gray-800 text-gray-900 dark:text-white w-full
    }
}